<div *ngIf="cliente">
    <h2>Detalhes: {{cliente.nome}}</h2>
    <div><span>id: </span>{{cliente.id}}</div>
    <div >
      <label for='nome'>Nome: </label>
      <input id='nome' [(ngModel)]="cliente.nome" placeholder="nome" style="margin-left: 38px;">
    </div>
    <div>
        <label for='telefone'>Telefone: </label>
        <input id='telefone' [(ngModel)]="cliente.telefone" placeholder="telefone" style="margin-left: 20px;">
      </div>
      <div>
        <label for='documento'>Documento: </label>
        <input id='documento' [(ngModel)]="cliente.documento" placeholder="documento">
      </div>
      <div>
        <label for='endereco'>Endereço: </label>
        <input id='endereco' [(ngModel)]="cliente.endereco" placeholder="endereco" style="margin-left: 14px;">
      </div>
      <button (click)="goBack()">Voltar</button>
      <button (click)="save()">Salvar</button>
    </div>
