<h2>Cadastro Clientes</h2>

<div>
  <label id="new-cliente">Nome: </label>
  <input for="new-cliente" #clienteNome />
</div>
<div>
  <label id="new-cliente">Telefone: </label>
  <input for="new-cliente" #clienteTelefone/>
</div>
<div>
  <label id="new-cliente">Documento: </label>
  <input for="new-cliente" #clienteDocumento />
</div>
<div>
  <label id="new-cliente">Endereço: </label>
  <input for="new-cliente" #clienteEndereco />
</div>
<div>
  <button class="add-button" (click)="add(
    clienteNome.value,
    clienteTelefone.value,
    clienteDocumento.value,
    clienteEndereco.value); clienteNome.value=''; clienteEndereco.value=''; clienteDocumento.value=''; clienteTelefone.value=''">
    Adicionar
  </button>
</div>

<ul class="clientes">
  <li *ngFor="let cliente of clientes">
    <a routerLink="/detail/{{cliente.id}}">
      <span class="badge">{{cliente.id}}</span> {{cliente.nome}}
    </a>
    <button class="delete" title="delete cliente"
      (click)="delete(cliente)">Apagar </button>
  </li>
</ul>