<!-- <h2>Clientes: </h2>
<ul class="clientes">
  <li *ngFor="let cliente of clientes"
    [class.selected]="cliente === selectedCliente"
    (click)="onSelect(cliente)">
    <span class="badge">{{cliente.id}}</span> {{cliente.name}}
  </li>
</ul>

<app-cliente-detalhes [hero]="selectedHero"></app-cliente-detalhes>
 -->

<h2>Cadastro Clientes</h2>

<div>
  <label id="new-cliente">Nome: </label>
  <input for="new-cliente" #clienteNome />
</div>
<div>
  <label id="new-cliente">Telefone: </label>
  <input for="new-cliente" #clienteTelefone />
</div>
<div>
  <label id="new-cliente">Documento: </label>
  <input for="new-cliente" #clienteDocumento />
</div>
<div>
  <label id="new-cliente">Endereço: </label>
  <input for="new-cliente" #clienteEndereco />
</div>
<div>
  <button class="add-button" (click)="add(clienteNome.value); clienteNome.value=''">
    Adicionar
  </button>
</div>

<ul class="clientes">
  <li *ngFor="let cliente of clientes">
    <a routerLink="/detail/{{cliente.id}}">
      <span class="badge">{{cliente.id}}</span> {{cliente.name}}
    </a>
    <button class="delete" title="delete cliente"
      (click)="delete(cliente)">Apagar </button>
  </li>
</ul>